body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(/assets/background.jpg) no-repeat center center fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.login {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 22rem;
  height: 30rem;
  margin: auto;
  padding: 0;
}

.login .path {
  display: table;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: orange;
  color: black;
  opacity: 0.9;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.18);
  font-size: 1.2rem;
}

.login .block {
  display: table;
  margin: 0;
  padding: 0;
  box-shadow: 0 5px 11px 0 rgba(50, 100, 150, 0.5), 0 4px 15px 0 rgba(50, 100, 150, 0.3);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 2px;
  color: black;
}

.login .error {
  display: none;
  margin: 0;
  padding: 1rem 2rem;
  border: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: crimson;
  color: white;
  font-size: 1rem;
}

.login .error.show {
  display: block;
}

.login .ok {
  display: none;
  margin: 0;
  padding: 1rem 2rem;
  border: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: green;
  color: white;
  font-size: 1rem;
}

.login a {
  display: inline-block;
  color: black;
}

.login form {
  padding: 1rem 0;
}

.login .row {
  margin: 0;
  padding: 0.5rem 2rem;
}

.login .row p {
  margin: 0;
}

.login .row.submit {
  padding-top: 1rem;
}

.login .back {
  margin: 1rem 2rem 0 2rem;
}

form input[type="text"],
form input[type="password"] {
  width: 16rem;
  border-width: 2px;
  background-color: white;
  color: black;
}

form ::-webkit-input-placeholder {
  color: #666;
}

form :-moz-placeholder {
  color: #666;
}

form ::-moz-placeholder {
    color: #666;
}

form :-ms-input-placeholder {
  color: #666;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 99999s ease-in-out 0s;
  -webkit-text-fill-color: black !important;
}