table.users.elements {
  width: auto;
}

table.users td {
  padding: 1rem 1rem;
}

table.users th.remove,
table.users td.remove {
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
}

table.users td.remove .fa {
  color: crimson;
}