.search-form-params.log {
    margin-top: 0.5rem;
}

.search-form-params.log select {
    max-width: 15rem;
}

.result {
    margin: 2rem 0 1rem 0;
}

div.leaf {
    display: table;
    width: 60rem;
}

ul.log {
    margin: 1rem 0;
}

ul.log li {
    min-height: 3rem;
    border-bottom: 1px solid #ccc;
}

ul.log li .user {
    margin-right: 2rem;
    color: midnightblue;
}

ul.log li .title {
    margin-right: 2rem;
    color: maroon;
}

ul.log li .date {
    float: right;
    margin-left: 2rem;
    padding-right: 0.5rem;
    font-size: 1rem;
    color: #333;
}

ul.log li .date .time {
    font-size: 0.9rem;
    color: #666;
}

ul.log li div.avatar {
    float: left;
    margin-right: 1rem;
}

ul.log li .avatar img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

ul.log li .avatar .round-letter {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    line-height: 3rem;
    font-family: Calibri, sans-serif;
    font-size: 1.2rem;
    letter-spacing: -0.1rem;
    background-color: silver;
    color: white;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul.log li:last-child {
    border: none;
}

.page {
    border-bottom: 1px solid tan;
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
    color: darkgoldenrod;
}
